#root {
    max-width: 1800px;
    margin: auto;
    padding: 0rem;
    text-align: center;
    background: linear-gradient(-90deg, rgb(22, 79, 100) 20%, rgb(4, 43, 66) 100%);

    background-position: center;
    background-size: cover;
   
    
   
  }
  
.message{
  
    float:inline-end;
    padding: 15px 10px;
    margin: 10px;
    width: 100%;
    border-radius: 20px 20px 1px 20px;
    background: #cccccc;
    color: black;
    position:relative;
}

.box{

  height:200px;
}

.canvas{
  height: 10px;
}

.background{
    background-color: rgba(250, 241, 215, 0.574);
    padding: 1rem;
    
    
}

.background-image{
  
  background-image: url("../assets/Gemini_Generated_Image_f1c5g6f1c5g6f1c5.jpg");
  background-position: center;
  background-size: cover; 
}

