#root {
    max-width: 1800px;
    margin: auto;
    padding: 0rem;
    text-align: center;
    
    background-image: url("../assets/Gemini_Generated_Image_f1c5g6f1c5g6f1c5.jpg");
    background-position:center;
    background-size: cover;
   
  }
  
.background{
    background-color: rgba(250, 241, 215, 0.574);
    padding: 1rem;
    
}