

.navigation{
 
  justify-content: center;
  background-color: rgba(6,57,76,255);
  font-family: 'Courier New', Courier, monospace;
}

.bi{

}


.button{
  border-radius: 100px;
  max-width: 150px;
  margin: 10px;

}
.button:hover
{
  transform: scale(1.1);
  
  
}

.mask{
  
  background-color: rgb(0, 0, 0);
  justify-content: center;

}

.Link {
  text-decoration: none;
  border-bottom: none;
}



.background
{
  background-color: rgb(106, 106, 105);

}